# This CI will launch a Docker image that contains all the dependencies required
# within that image the pytest test suite is run 

name: CI with install

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '.gitignore'
      - '*.md'
      - 'CITATION.cff'
      - 'LICENSE.txt'
      - 'readthedocs.yml'

jobs:
  testing:
    runs-on: ubuntu-latest
    container:
      image: openmc/openmc:develop
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: install package
        run: |
          pip install --upgrade pip
          pip install .
          python -c "import openmc_regular_mesh_plotter"

      - name: install packages for tests
        run: |
          pip install .[tests]

      - name: Run test_utils
        run: |
          pytest tests

      - name: Run examples
        run: |
          cd examples
          python plot_minimal_example.py
          python plot_with_custom_color_map.py
          python plot_sweep_through_slice_indexes.py
